
<!DOCTYPE html>
<html>
<head>
    <title>SavePasswords</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: #eee2cd;
            background-size: cover;
            padding: 10px;
        }
    </style>

</head>
<body class="m-1 p-1">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Save Passwords</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>


            </ul>
            @if ((String)ViewContext.RouteData.Values["controller"] == "account")
            {

            }
            else if (User?.Identity?.IsAuthenticated ?? false)
            {
            <a asp-controller="Passwords" asp-action="AddPassword"
               class="btn btn-danger">Add password</a>
                <a asp-controller="Account" asp-action="Logout"
                   class="btn btn-danger">Logout</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login"
                   class="btn btn-success">Log in</a>

            }

        </div>
    </nav>
    @RenderBody()
</body>
</html>
